table.table.usedbedtable    
    thead
        tr
            th(scope="col") 담당부서
            - for(var i=1; i<17; i++)
                th(scope="col") #{i}번
    tbody(style="text-align:center;")
        //포이치 담당부서
        tr
            th
                | 안과
            - for(var i=1; i<17; i++)  
                td
                    //if danger
                    .alert.alert-primary
                        | O  
        tr
            th
                | 내과
            - for(var i=1; i<17; i++)  
                td
                    //if danger
                    .alert.alert-primary
                        | O  
        tr
            th
                | 외과
            - for(var i=1; i<17; i++)  
                td
                    //if danger
                    .alert.alert-primary
                        | O  
        tr
            th
                | 치과
            - for(var i=1; i<17; i++)  
                td
                    //if danger
                    .alert.alert-primary
                        | O  

