.row(style="text-align:center;")
    .col-md-6
        | 1 호실
        .alert.alert-primary
            .row
                .col-md-6
                    if bedList[0]
                        .alert.alert-danger
                            | 1번 침대 : 있음
                    else
                        .alert.alert-success
                            | 1번 침대 : 빔
                .col-md-6
                    if bedList[1]
                        .alert.alert-danger
                            | 2번 침대 : 있음
                    else
                        .alert.alert-success
                            | 2번 침대 : 빔
            .row
                .col-md-6
                    if bedList[2]
                        .alert.alert-danger
                            | 3번 침대 : 있음
                    else
                        .alert.alert-success
                            | 3번 침대 : 빔
                .col-md-6
                    if bedList[3]
                        .alert.alert-danger
                            | 4번 침대 : 있음
                    else
                        .alert.alert-success
                            | 4번 침대 : 빔
    .col-md-6
        | 2 호실
        .alert.alert-primary
            .row
                .col-md-6
                    if bedList[4]
                        .alert.alert-danger
                            | 5번 침대 : 있음
                    else
                        .alert.alert-success
                            | 5번 침대 : 빔
                .col-md-6
                    if bedList[5]
                        .alert.alert-danger
                            | 6번 침대 : 있음
                    else
                        .alert.alert-success
                            | 62번 침대 : 빔
            .row
                .col-md-6
                    if bedList[6]
                        .alert.alert-danger
                            | 7번 침대 : 있음
                    else
                        .alert.alert-success
                            | 7번 침대 : 빔
                .col-md-6
                    if bedList[7]
                        .alert.alert-danger
                            | 8번 침대 : 있음
                    else
                        .alert.alert-success
                            | 8번 침대 : 빔
.row(style="text-align:center;")
    .col-md-6
        | 3 호실
        .alert.alert-primary
            .row
                .col-md-6
                    if bedList[8]
                        .alert.alert-danger
                            | 9번 침대 : 있음
                    else
                        .alert.alert-success
                            | 9번 침대 : 빔
                .col-md-6
                    if bedList[9]
                        .alert.alert-danger
                            | 10번 침대 : 있음
                    else
                        .alert.alert-success
                            | 10번 침대 : 빔
            .row
                .col-md-6
                    if bedList[10]
                        .alert.alert-danger
                            | 11번 침대 : 있음
                    else
                        .alert.alert-success
                            | 11번 침대 : 빔
                .col-md-6
                    if bedList[11]
                        .alert.alert-danger
                            | 12번 침대 : 있음
                    else
                        .alert.alert-success
                            | 12번 침대 : 빔
    .col-md-6
        | 4 호실
        .alert.alert-primary
            .row
                .col-md-6
                    if bedList[12]
                        .alert.alert-danger
                            | 13번 침대 : 있음
                    else
                        .alert.alert-success
                            | 13번 침대 : 빔
                .col-md-6
                    if bedList[13]
                        .alert.alert-danger
                            | 14번 침대 : 있음
                    else
                        .alert.alert-success
                            | 14번 침대 : 빔
            .row
                .col-md-6
                    if bedList[14]
                        .alert.alert-danger
                            | 15번 침대 : 있음
                    else
                        .alert.alert-success
                            | 15번 침대 : 빔
                .col-md-6
                    if bedList[15]
                        .alert.alert-danger
                            | 16번 침대 : 있음
                    else
                        .alert.alert-success
                            | 16번 침대 : 빔
    
