extends ../layoutemp

block content
    include ../includes/topnavemp
    .container
        .row(style="margin-top:20px;")
            .col-md-12
                h1
                    |환자 추가
        br
        form(action=`/patientmanagement/${patient.patient_id}?_method=PUT`,  method="POST")
            input(type="hidden", name="_method", value="PUT")
            include ./_form
            .row
                .col-md-1
                        button.btn.btn-primary(type='submit' ,style="margin-left:20%; margin-top:20%;") 저장
