extends ../layoutemp

block content
    include ../includes/topnavemp
    .container
        .row(style="margin-top:2%;")
            .col-md-1
                img.rounded-0(src='/images/addpatient.png', alt='...', style="width:70px;")
            .col-md-10
                h1(style="margin-top:1%;")
                    |환자 변경
        br
        form(action=`/patientmanagement/${patient.patient_id}?_method=PUT`,  method="POST")
            input(type="hidden", name="_method", value="PUT")
            include ./_form
            .row
                .col-md-1
                        button.btn.btn-primary(type='submit' ,style="margin-left:20%; margin-top:20%;") 저장
