extends ../layoutemp

block content
    include ../includes/topnavemp
    .container
        .row(style="margin-top:20px;")
            .col-md-6
                h1
                    #{patient.name}
                    | 환자 입원 수속
            .col-md-6(style="margin-top:1%;")
                h3
                    | 주민번호 :
                    #{patient.personal_number}
        include ./_bed

        br
        form(action=`/patientmanagement/inpatient/${patient.patient_id}`, method="POST")
            .alert.alert-primary
                .row
                    .col-md-6
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text 병실 번호
                            input.form-control(type='number', placeholder='1~4', name='hospital_room', aria-describedby='basic-addon1')
                    .col-md-6
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text 침대 번호
                            input.form-control(type='number', placeholder='1~16', name='bed_no', aria-describedby='basic-addon1')               
                .row
                    .col-md-6
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text 주요 질병 
                            input.form-control(type='text', placeholder='당뇨', name='disease_name', aria-describedby='basic-addon1')
                    .col-md-6
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text 입원 날짜
                            input.form-control(type='date', placeholder='2018-06-30', name='hospital_day', aria-describedby='basic-addon1')
                .row
                    .col-md-12
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text 담당의사ID
                            input.form-control(type='number', placeholder='', name='doctor_employee_id', aria-describedby='basic-addon1')

                .row
                    .col-md-1
                            button.btn.btn-primary(type='submit') 입원 환자로 추가
