extends ../layoutemp

block content
    nav.navbar.navbar-expand-lg.bg-rose(style="margin-top:1%;")
        .container                          
            form.form-inline.ml-auto
                .form-group.has-white
                    input.form-control(type='text', placeholder='Search')
                    |                 
                button.btn.btn-white.btn-raised.btn-fab.btn-fab-mini.btn-round(type='submit')
                    i.material-icons search
    .container
        .row(style="margin-bottom:2%;")
            .col-md-6.col-sm-6
                .card.card-stats
                    .card-header.card-header-warning.card-header-icon
                        p.card-category 등록된 환자수
                        h3.card-title
                            | 49
                            small 명
                    .card-footer
                        .stats
                            .btn.btn-dark
                                a(href='/patientmanagement/new') 환자 추가
                                    
            .col-md-6.col-sm-6
                .card.card-stats
                    .card-header.card-header-success.card-header-icon
                        p.card-category 입원 환자수
                        h3.card-title 
                            | 49
                            small 명
                    .card-footer
                        .stats
                            .btn.btn-dark
                                a(href='/monitor')  환자 모니터링
        .row
            .col-md-12
                each patient in patients
                    .alert.alert-success(role='alert', style="margin-bottom:10px; text-align: center;")
                        .row
                            .col-md-3
                                 .alert.alert-warning(role='alert')
                                    | 환자 이름 :
                                    #{patient.name}
                            .col-md-3(style="margin-top:20px;")
                                | 주민번호  :
                                #{patient.personal_number}
                            .col-md-3(style="margin-top:20px;")
                                | 핸드폰번호 :
                                #{patient.phone_number}
                            .col-md-2(style="margin-top:20px;")
                                a(href=`/patientmanagement/show/${patient.personal_number}`) 상세 보기
