extends ../layoutemp

block content
    include ../includes/topnavemp
    .container
        .row(style="margin-top:20px;")
            .col-md-12
                h1
                    |환자 추가
        br
        form(action="/patientmanagement/new", method="POST")
            include ./_form
                            
            .row
                .col-md-1
                        button.btn.btn-primary(type='submit' ,style="margin-left:20%; margin-top:20%;") 환자 추가
