doctype html
head
  title Hello, world!
  // Required meta tags
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  // Fonts and icons
  link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
  // Material Dashboard CSS
  link(rel='stylesheet' href='/assets/css/material-dashboard.css')
body
    include ../includes/topnavemp
    nav.navbar.navbar-expand-lg.bg-rose(style="margin-top:70px;")
        .container
            .navbar-translate
                a.navbar-brand(href='/patientmanagement') 환자 관리
                |             
                button.navbar-toggler(type='button', data-toggle='collapse', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                    |                 
                    span.navbar-toggler-icon
                    |                 
                    span.navbar-toggler-icon
                    |         
            .collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/patientmanagement/new') 환자 추가
                        |                 
                    li.nav-item
                        a.nav-link(href='/patientmanagement') 환자 목록
                        |           
            form.form-inline.ml-auto
                .form-group.has-white
                    input.form-control(type='text', placeholder='Search')
                    |                 
                button.btn.btn-white.btn-raised.btn-fab.btn-fab-mini.btn-round(type='submit')
                    i.material-icons search
    .container
        .row
            .col-md-12
                |환자 추가 
        .row
            .col-md-12
                .input-group
                    .input-group-prepend
                        span.input-group-text
                        i.material-icons group
                    label(for='name')
                    input.form-control(type='text',id="name", placeholder=' 추가할 환자 이름 입력')
        .row(style="margin-top:3%;")
            .col-md-6
                .input-group
                    .input-group-prepend
                        span.input-group-text
                    input.form-control(type='text', placeholder=' 핸드폰 번호')
            .col-md-6
                .input-group
                    .input-group-prepend
                        span.input-group-text
                    input.form-control(type='text', placeholder=' 주민번호 ')    
        .row(style="margin-left:4%; margin-top:3%;")
            .col-md-6
                .form-check.form-check-radio.form-check-inline
                    label.form-check-label
                        input#inlineRadio1.form-check-input(type='radio', name='inlineRadioOptions', value='option1')
                        |  남성
                        span.circle
                        span.check
                    .form-check.form-check-radio.form-check-inline
                    label.form-check-label
                        input#inlineRadio2.form-check-input(type='radio', name='inlineRadioOptions', value='option2')
                        |  여성
                        span.circle
                        span.check
                        
        .row
            .col-md-2
                form(action="/patientmanagement/new", method="POST")
                    button.btn.btn-primary(type='submit' ,style="margin-left:20%; margin-top:20%;") 환자 추가

       
    
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    script(src='/assets/js/core/jquery.min.js')
    script(src='/assets/js/core/popper.min.js')
    script(src='/assets/js/core/bootstrap-material-design.min.js')
    script(src='/assets/js/plugins/bootstrap-notify.js')
    script(src='/assets/js/plugins/chartist.min.js')
    script(src='/assets/js/plugins/perfect-scrollbar.jquery.min.js')
    script(src='/assets/demo/demo.js')
    script(src='/assets/js/material-dashboard.js?v=2.1.0')
    script(type='text/javascript' language='javascript' src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')