extends ../layoutemp

block content
     .container
        .row(style="margin-top:20px;")
            .col-md-12
                h1
                    |정보 추가
        br
        form(action=`/patientmanagement/inpatientdetail/${patient_id}`, method="POST")
            .alert.alert-primary
                .row
                    .col-md-2
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text 환자 번호                   
                            input.form-control(type='text',name='patient_id', value=patient_id readonly)          
                    .col-md-4
                        .input-group-prepend
                            span#basic-addon1.input-group-text 담당간호사
                            #choose-doctor1
                                select#inputState.form-control(name="employee_id", rows="1")
                                    each nurse in nurseList
                                        option(name="employee_id", value=`${nurse.employee_id}`) #{nurse.name}         
                    .col-md-4
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text 날짜                    
                            input.form-control(type='date',name='date',  placeholder='변경 시간') 
                .row
                    .col-md-8
                        .row
                            .col-md-2
                                .form-check
                                    input#exampleRadios1.form-check-input(type='radio', name='1', value='option1', checked='')
                                    label.form-check-label(for='linger')
                                        | 링거
                            .col-md-2
                                .form-check
                                    input#exampleRadios2.form-check-input(type='radio', name='1', value='option2')
                                    label.form-check-label(for='what')
                                        | 기저귀         
                            .col-md-2
                                .form-check
                                    input#exampleRadios2.form-check-input(type='radio', name='1', value='option3')
                                    label.form-check-label(for='medicine')
                                        | 투약
                .row(style="margin-top:2%;")
                    .col-md-10
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text 내용             
                            input.form-control(type='text', placeholder='변경 내용을 입력 입력해주세요!',name='description')

                .row
                    .col-md-1
                            button.btn.btn-primary(type='submit' ,style="margin-left:20%; margin-top:20%;") 정보 추가
