extends ../layoutemp

block content
    .container
        h1(style="margin-top:3%;") 내 기록
        table.table.usedbedtable
            thead
                tr
                    th(scope="col") 번호
                    th(scope="col") 담당 간호사
                    th(scope="col") 시행 일시
                    th(scope="col") 내용
                    th(scope="col") 내용

            tbody

                tr
                    th
                    td
                    td    
                    td    
                    td    
                    td 


