script(src='/assets/js/core/jquery.min.js')
script(src='/assets/js/core/popper.min.js')
script(src='/assets/js/core/bootstrap-material-design.min.js')
script(src='/assets/js/plugins/bootstrap-notify.js')
script(src='/assets/js/plugins/chartist.min.js')
script(src='/assets/js/plugins/perfect-scrollbar.jquery.min.js')
script(src='/assets/demo/demo.js')
script(src='/assets/js/material-dashboard.js?v=2.1.0')
script(type='text/javascript' language='javascript' src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')