nav.navbar.navbar-expand-lg.bg-rose(style="margin-top:70px;")
    .container
        .navbar-translate
            a.navbar-brand(href='/patientmanagement') 환자 관리
            |             
            button.navbar-toggler(type='button', data-toggle='collapse', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
                |                 
                span.navbar-toggler-icon
                |                 
                span.navbar-toggler-icon
                |         
        .collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/patientmanagement/new') 환자 추가
                    |                 
                li.nav-item
                    a.nav-link(href='/patientmanagement') 환자 목록
                    |           
        form.form-inline.ml-auto
            .form-group.has-white
                input.form-control(type='text', placeholder='Search')
                |                 
            button.btn.btn-white.btn-raised.btn-fab.btn-fab-mini.btn-round(type='submit')
                i.material-icons search