nav.navbar.navbar-expand-lg.bg-rose(style="margin-top:20px;")
    .container                          
        form.form-inline.ml-auto
            .form-group.has-white
                input.form-control(type='text', placeholder='이름으로 검색')
                |                 
            button.btn.btn-white.btn-raised.btn-fab.btn-fab-mini.btn-round(type='submit')
                i.material-icons search