extends ../layoutemp

block content
    .container(style="margin-top:3%;")
        h1 환자 정보
        .alert.alert-secondary
            .row
                .col-md-12
                    | 환자 이름:
                    #{patient.name}
            br
            .row
                .com-md-12(style="margin-left:1.5%;")
                    | 주민 번호:
                    #{patient.personal_number}
            br
            .row
                .col-md-12
                    | 핸드폰 번호:
                    #{patient.phone_number}   
            br
            .row
                .col-md-12
                    | 성별:
                    if !patient.gender
                        | 남성
                    else
                        | 여성    

        h2 입원
        .alert.alert-info
            .row
                .col-md-12
                    | 허미;

        h3 진료기록
        .alert.alert-info
            .row
                .col-md-12
                    | 허미;
        .row
            .col-md-1
                button.btn.btn-primary
                    | 정보 수정
            .col-md-1
                a.btn.btn-danger(href=`/patientmanagement/${patient.personal_number}?_method=DELETE`)
                    | 정보 삭제


            

