.header.clearfix
  nav.navbar.navbar-expand-md.navbar-dark.bg-info.fixed-top
    .container
      a.navbar-brand(href="/") Medic Top
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/monitor') 모니터링
          li.nav-item
            a.nav-link(href='/patientmanagement') 환자관리
          li.nav-item
            a.nav-link(href="/surveyschedule") 수술일정
          li.nav-item
            a.nav-link(href='/workschedule') 근무일정
          li.nav-item
            a.nav-link(href='/superadmin') 최고관리자
               
            
          
