.header.clearfix
  nav.navbar.navbar-expand-md.navbar-dark.bg-info.fixed-top
    .container
      a.navbar-brand(href="/") Medic Top
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/introduce") 소개
          li.nav-item
            a.nav-link(href="") 환자관리
          li.nav-item
            a.nav-link(href="") 일정관리
          li.nav-item
            a.nav-link(href='') 예약 및 확인
          if (!currentUser) 
            li.nav-item
              a.nav-link(href='') 로그인
            li.nav-item
              a.nav-link(href='') 
          else
            li.nav-item
              a.nav-link(href=``) 로그아웃
            li.nav-item
              a.nav-link(href='') 내정보
            
          
