extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 Medic Top Project
      p.lead
        | This is a modified jumbotron that occupies the entire horizontal space of its parent.
  .row
    .col-sm-6
      .card
        .card-body
          h5.card-title Special title treatment
          p.card-text With supporting text below as a natural lead-in to additional content.
          a.btn.btn-primary(href="#") Go somewhere
    .col-sm-6
      .card
        .card-body
          h5.card-title Special title treatment
          p.card-text With supporting text below as a natural lead-in to additional content.
          a.btn.btn-primary(href="#") Go somewhere

