extends layout

block content
    #container
      .container-header
        .inner
          .h1-wrap
            h1.tit-h1.hide_caption 백병원 소개
            p.extend 인제대학교 백병원은 가족처럼 따뜻하고, 친구처럼 믿음직한 대학병원입니다.
      // // container-header
      // contents-wrap
      .contents-wrap
        // contents
        article.contents.inje-intro
          .h2-wrap
            h2.tit-h2 학교법인 인제학원 소개
            p.extend 학교법인 인제학원을 소개합니다.
          section.section
            .h3-wrap
              h3.tit-h3.fl 인제학원 소개
            .row.gutter20
              .col.col6
                .box-type
                  strong.para-tit 仁術濟世(인술제세) “인술로써 세상을 구한다”
                  strong.para-tit 仁德濟世(인덕제세) “어짊과 덕으로 세상을 구한다”
                  p.para.mar-t30
                    | 창립자 백인제 박사는 우리나라 근대 의학의 개척자이자 애국자였습니다.
                    | 백인제 박사는 6‧25 전쟁으로 납북되기 전까지 신국가 건설을 위한 다양한
                    | 활동을 전개하였으며, 특히, 의학, 교육, 연구, 외과 수술 분야에서 탁월한 업
                    | 적을 남겼습니다. 특히, 1937년 상부장관의 감압술 성공사례 7례를 세계 최
                    | 초로 보고하였습니다.  1932년 병원을 인수한 후 백인제 박사의 뛰어난 의술
                    | 과 명성으로 인해 백인제외과의원은 만주를 비롯한 전국에서 몰려든 환자로
                    | 인해 언제나 북새통을 이루었습니다. 또한 경성의전 외과 주임교수로 재직하
                    | 면서 많은 후학들을 길러냈으며, 그 제자들의 의해 인제대 백병원, 한림대 성
                    | 심병원, 가톨릭대 성모병원, 중앙대 필동병원 등이 설립되었습니다.
                  p.para
                    | 1946년 12월 17일 백인제 박사는 전 사재를 기부하여 우리나라 최초의 민립
                    | 공익법인 ‘재단법인 백병원’을 탄생시켰으며, 이후 학교법인 인제학원이 설립
                    | 되었습니다.
              .col.col6
                .box-type
                  ol.history-summary
                    li
                      em.year 1932
                      | 										백인제 박사, 현 서울백병원 위치에서 외과병원 인수 경영 (백인제외과병원)
                    li
                      em.year 1946
                      | 										백인제 박사 전 사재를 기부하여 한국 최초의 민립공익법인‘재단법인 백병원’설립
                    li
                      em.year 1972
                      | 										종합병원 서울백병원 개원
                    li
                      em.year 1979
                      | 										학교법인 인제학원 설립
                      br
                      | 										인제의과대학 개교
                      br
                      | 										부산백병원 개원
                    li
                      em.year 1988
                      | 										종합대학 인제대학교로 승격
                    li
                      em.year 1989
                      | 										상계백병원 개원
                    li
                      em.year 1999
                      | 										일산백병원 개원
                    li
                      em.year 2010
                      | 										해운대백병원 개원
          section.section
            .h3-wrap
              h3.tit-h3 의료분야
            p.para
              | 서울백병원(1932), 부산백병원(1979), 상계백병원(1989), 일산백병원(1999), 해운대백병원(2010)을 개원하여 현재 5개 백병원 3500여 병상을 운영하고 있는 우리나라 최고의 사립병원을 운영하고 있습니다. 인제대학교 백병원은 지난 86년간의 진료성과를 바탕으로 국내 의료계를 선도하고 있을 뿐만 아니라 세계적 수준의 종합의료기관으로 선장하고 있습니다.
            .row.gutter20.mar-t40.hospital-list.hovering
              .col.seoul
                .cont
                  img.origin(src="http://www.paik.ac.kr/pmc/images/info/img_injeIntro01.jpg" alt="")
                  .layer
                    em.name 서울백병원
                    span.phone 02-2270-0114
                    span.address 서울특별시 중구 마른내로 9
              .col.busan
                .cont
                  img.origin(src="http://www.paik.ac.kr/pmc/images/info/img_injeIntro02.jpg" alt="")
                  .layer
                    em.name 부산백병원
                    span.phone 051-890-6114
                    span.address 부산광역시 부산진구 복지로 75
              .col.sanggye
                .cont
                  img.origin(src="http://www.paik.ac.kr/pmc/images/info/img_injeIntro03.jpg" alt="")
                  .layer
                    em.name 상계백병원
                    span.phone 02-950-1114
                    span.address 서울특별시 노원구 동일로 1342
              .col.ilsan
                .cont
                  img.origin(src="http://www.paik.ac.kr/pmc/images/info/img_injeIntro04.jpg" alt="")
                  .layer
                    em.name 일산백병원
                    span.phone 031-910-7114
                    span.address 경기도 고양시 일산서구 주화로 170
              .col.haeundae
                .cont
                  img.origin(src="http://www.paik.ac.kr/pmc/images/info/img_injeIntro05.jpg" alt="")
                  .layer
                    em.name 해운대백병원
                    span.phone 051-797-0114
                    span.address 부산광역시 해운대구 해운대로 875
          section.section
            .h3-wrap
              h3.tit-h3 교육분야
            p.para
              | 국민건강과 복지에 대한관심이 고조되던 1979년 백인제 박사의 정신이자 꿈인 인술제세(仁術濟世), 인덕제세(人德濟世)의 건학이념을 바탕으로 인제의대가 설립되었으며, 1988년 종합대학 인제대학교로 발전하였습니다. 인제대학교는 전문분야의 교육과 더불어 인성교육에 중점을 두며, 인술제세(仁術濟世), 인덕제세(仁德濟世)의 건학이념과 정직, 성실, 근면의 교훈 아래 자연
              | 보호, 생명존중, 인간사랑을 실천하고 있습니다. 2018년 현재 7개 단과대학(의과대학, 문리과대학, 사회과학대학, 공과대학, 보건의료융합대학, BNIT융합대학, 약학대학)의 40개 학과(부)와 6개 대학원(일반대학원, 보건대학원, 경영대학원, 교육대학원, 사회복지대학원, 산업융합대학원)에서 1만4천 6백여 명이 교육받고 있습니다.
            .row.gutter20.mar-t40.hospital-list.hovering
              .col.col6.kimhae
                .cont
                  img.origin(src="http://www.paik.ac.kr/pmc/images/info/img_injeIntro06.jpg" alt="")
                  .layer.type2
                    em.name 김해캠퍼스
                    span.txt
                      span.phone 055-334-7111(-8)
                      span.address 경상남도 김해시 인제로 197
              .col.col6.busan
                .cont
                  img.origin(src="http://www.paik.ac.kr/pmc/images/info/img_injeIntro07.jpg" alt="")
                  .layer.type2
                    em.name 부산캠퍼스
                    span.txt
                      span.phone 051-894-3421(-9)
                      span.address 부산광역시 부산진구 복지로 75
        // // contents
      // // contents-wrap