#page-wrapper
  .container-fluid.center-block
    // login section
    form#frm_login(action='/login' method='post' name='frm_login')
      .modal-dialog
        .modal-content
          .modal-header
            h1.text-center Medical Top Team
          .modal-body
            .form-group
              input#username.form-control.input-lg(type='text' name='username' placeholder='ID' required='required' autocomplete='off')
            .errorTxt
            .form-group
              input#password.form-control.input-lg(type='password' name='password' placeholder='Password' required='required' autocomplete='off')
            .errorTxt
            .form-group
              input.btn.btn-block.btn-lg.btn-primary.btn_login(type='submit' value='Login')


link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css")
script(type='text/javascript' language='javascript' src='https://code.jquery.com/jquery-3.3.1.js')
script(src='jquery-validation/dist/jquery.validate.min.js')
script(src='js/login.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")