extends ../layoutemp

block content

 table.table
  tr
                th(scope='col') ID
                th(scope='col') username
                th(scope='col') job
                th(scope='col') information