.row
    .col-md-6
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 환자 id                    
            input.form-control(type='number', placeholder='환자 id',name='patient_id')
    .col-md-6
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 의사 id                    
            input.form-control(type='number', placeholder='의사 id',name='doctor_id')
.row
    .col-md-6
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 수술 예정일시
            input.form-control(type='datetime-local', placeholder='수술 일시', name='reserved_datetime', value = "2018-07-10T09:30")
    .col-md-6
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 수술 완료 예정일시
            input.form-control(type='datetime-local', placeholder='수술 완료 일시', name='end_datetime', value = "2018-07-11T09:30")

br
                         
.row
    .col-md-12
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 수술 사유                  
            input.form-control(type='text', placeholder='수술 사유',name='description')
