.row
    .col-md-1(style="margin-right:-3%;")
        img.rounded-0(src='/images/name.png', alt='...', style="width:40px;")
    .col-md-6
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 환자 id                    
            input.form-control(type='number', placeholder='환자 id',name='patient_id')
.row
    .col-md-1(style="margin-right:-3%;")
        img.rounded-0(src='/images/doctor.png', alt='...', style="width:40px;")
    .col-md-6
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 의사 id                    
            input.form-control(type='number', placeholder='의사 id',name='doctor_id')
.row
    .col-md-1(style="margin-right:-3%;")
        img.rounded-0(src='/images/date.png', alt='...', style="width:40px;")
    .col-md-5
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 수술 예정일시
            input.form-control(type='datetime-local', placeholder='수술 일시', name='reserved_datetime')
    .col-md-5
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 수술 완료 예정일시
            input.form-control(type='datetime-local', placeholder='수술 완료 일시', name='end_datetime')

br
                         
.row
    .col-md-1(style="margin-right:-3%;")
        img.rounded-0(src='/images/number2.png', alt='...', style="width:40px;")
    .col-md-6
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 수술실 번호
            input.form-control(type='number', placeholder='1~4', name='operating_room_id')
.row
    .col-md-1(style="margin-right:-3%;")
        img.rounded-0(src='/images/content.png', alt='...', style="width:40px;")
    .col-md-11
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 수술 사유                  
            input.form-control(type='text', placeholder='수술 사유',name='description')
