.row(style="text-align:center;")
    .col-md-6
        .alert.alert-primary
            .row
                .col-md-6
                    if oproomList[0]
                        .alert.alert-danger
                            | 예약됨
                    else
                        .alert.alert-success
                            | 예약 가능

                .col-md-6
                    if oproomList[1]
                        .alert.alert-danger
                            | 예약됨
                    else
                        .alert.alert-success
                            | 예약 가능

                .col-md-6
                    if oproomList[2]
                        .alert.alert-danger
                            | 예약됨
                    else
                        .alert.alert-success
                            | 예약 가능

                .col-md-6
                    if oproomList[3]
                        .alert.alert-danger
                            | 예약됨
                    else
                        .alert.alert-success
                            | 예약 가능