.row(style="text-align:center;")
    each val in [0, 1, 2, 3]
        .col-md-6
            .card(style='width: 18rem;')
                if(oproomList[val]===1)
                    img.rounded-0(src='/images/surgery.png', alt='...', style="width:70px;")
                else
                    img.rounded-0(src='/images/surgery.png', alt='...', style="width:70px;")
            .card_body
                h5.card-title #{val}번 수술실
                p.card-text
                    if(oproomList[val]===1)
                        | 사용중
                    else
                        | 미 사용
                        