doctype html

head
  title Hello, world!
  // Required meta tags
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  // Fonts and icons
  link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
  // Material Dashboard CSS
  link(rel='stylesheet' href='/assets/css/material-dashboard.css')
  
  style.
      body{
        margin-top:75px;
      } 


body
  block top-nav
    include ../includes/topnavemp
  .row
    each room in rooms
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header.card-header-warning.card-header-icon
            .card-icon
              i.material-icons local_hospital
            p.card-category #{room.room_no}
            h3.card-title
              |#{room.temperature+"'C"}
              br   
              |#{room.humidity+"%"} 
          .card-footer
            .stats
              a(href='/statistics/temperatureGraph') 앙 기모띠!
 

  // Core JS Files
  script(src='/assets/js/core/jquery.min.js')
  script(src='/assets/js/core/popper.min.js')
  script(src='/assets/js/core/bootstrap-material-design.min.js')
  // Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/
  script(src='/assets/js/plugins/bootstrap-notify.js')
  // Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/
  script(src='/assets/js/plugins/chartist.min.js')
  // Plugin for Scrollbar documentation here: https://github.com/utatti/perfect-scrollbar
  script(src='/assets/js/plugins/perfect-scrollbar.jquery.min.js')
  // Demo init
  script(src='/assets/demo/demo.js')
  // Material Dashboard Core initialisations of plugins and Bootstrap Material Design Library
  script(src='/assets/js/material-dashboard.js?v=2.1.0')
  script(type='text/javascript' language='javascript' src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
