doctype html
head
  title Hello, world!
  // Required meta tags
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  // Fonts and icons
  link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
  // Material Dashboard CSS
  link(rel='stylesheet' href='/assets/css/material-dashboard.css')
  
  style.
      body{
        margin-top:75px;
      } 

body
  block top-nav
    include ../includes/topnavemp
    .row
        .col-md-8
            .card
                .card-header.card-chart.card-header-warning
                    #dailySalesChart.ct-chart
                .card-body
                    h4.card-title Daily Sales
                    p.card-category
                        span.text-success
                            i.fa.fa-long-arrow-up
                            |  55%
                            |  increase in today sales.
                .card-footer
                    .stats
                    i.material-icons access_time
                    |  updated 4 minutes ago




    // Core JS Files
    script(src='/assets/js/core/jquery.min.js')
    script(src='/assets/js/core/popper.min.js')
    script(src='/assets/js/core/bootstrap-material-design.min.js')
    // Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/
    script(src='/assets/js/plugins/bootstrap-notify.js')
    // Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/
    script(src='/assets/js/plugins/chartist.min.js')
    // Plugin for Scrollbar documentation here: https://github.com/utatti/perfect-scrollbar
    script(src='/assets/js/plugins/perfect-scrollbar.jquery.min.js')
    // Demo init
    script(src='/assets/demo/demo.js')
    // Material Dashboard Core initialisations of plugins and Bootstrap Material Design Library
    script(src='/assets/js/material-dashboard.js?v=2.1.0')

    script.
        $(document).ready(function(){
            if ($('#dailySalesChart').length != 0) {
                dataDailySalesChart = {
                    labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
                    series: [
                        [12, 17, 7, 17, 23, 18, 38]
                    ]
                };

                optionsDailySalesChart = {
                    lineSmooth: Chartist.Interpolation.cardinal({
                        tension: 0
                    }),
                    low: 0,
                    high: 50,
                    chartPadding: {
                        top: 0,
                        right: 0,
                        bottom: 0,
                        left: 0
                    },
                }
                var dailySalesChart = new Chartist.Line('#dailySalesChart', dataDailySalesChart, optionsDailySalesChart);
            }
        });
