.row
    .col-md-6
        if patient_id
            .input-group.mb-3
                .input-group-prepend
                    span#basic-addon1.input-group-text 환자 번호                    
                input.form-control(type='number', placeholder='',name='patient_id', value=patient_id)
        else
            .input-group.mb-3
                .input-group-prepend
                    span#basic-addon1.input-group-text 환자 번호                    
                input.form-control(type='number', placeholder='',name='patient_id')
    .col-md-6
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 의사 번호                    
            input.form-control(type='number', placeholder='1',name='doctor_id')
.row
    .col-md-6
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 진료 날짜
            input.form-control(type='date', placeholder='2018-06-30', name='date', aria-describedby='basic-addon1')
    .col-md-6
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 질병 이름                    
            input.form-control(type='text', placeholder='당뇨',name='disease')
.row
    .col-md-12
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 진료 내용                   
            input.form-control(type='text', placeholder='진료 결과 입력',name='description')
hr
.row
    .col-md-4
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 처방된 약                    
            input.form-control(type='number', placeholder='약의 번호',name='medicine_id')
        
    .col-md-4
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 양(한번 복용시)           
            input.form-control(type='text', placeholder='2알',name='amount')
    .col-md-4
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 1일 복용 회수                    
            input.form-control(type='number', placeholder='1~3회',name='frequency')                         
.row
    .col-md-12
        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text 주의 사항                  
            input.form-control(type='text', placeholder='약 복용시 주의 사항',name='precaution')
.row
    .col-md-1
            button.btn.btn-primary(type='submit' ,style="margin-top:20%;") 작성 완료
