extends ../layoutemp

block content
    include ../includes/topnavemp
    .container
        .row(style="margin-top:20px;")
            .col-md-12
                h1
                    | 진료 기록 작성
        hr
        .row(style="margin-top:20px;")
            .col-md-12
                h3
                    | 진료 순서
        .card-deck
            .card.text-white.bg-info(style='max-width: 18rem;')
                .card-body
                    h5.card-title 이정훈1
                    hr
                    a.btn.btn-default(type='submit' href=`#`) 진료하기
            .card.text-white.bg-info(style='max-width: 18rem;')
                .card-body
                    h5.card-title 이정훈2
                    hr
                    a.btn.btn-default(type='submit' href=`#`) 진료하기            
            .card.text-white.bg-info(style='max-width: 18rem;')
                .card-body
                    h5.card-title 이정훈3
                    hr
                    a.btn.btn-default(type='submit' href=`#`) 진료하기
            .card.text-white.bg-info(style='max-width: 18rem;')
                .card-body
                    h5.card-title 이정훈4
                    hr
                    a.btn.btn-default(type='submit' href=`#`) 진료하기
            .card.text-white.bg-info(style='max-width: 18rem;')
                .card-body
                    h5.card-title 이정훈5
                    hr
                    a.btn.btn-default(type='submit' href=`#`) 진료하기  
            .card.text-white.bg-info(style='max-width: 18rem;')
                .card-body
                    h5.card-title 이정훈6
                    hr
                    a.btn.btn-default(type='submit' href=`#`) 진료하기                                                          
        hr
        form.alert.alert-primary(action="/receipt", method="POST")
            include ./_form