extends ../layoutemp

block content
    include ../includes/topnavemp
    .container
        .row(style="margin-top:20px;")
            .col-md-12
                h1
                    | 진료 기록 작성
        hr
        form.alert.alert-primary(action="/receipt", method="POST")
            include ./_form
        
        hr
        include ./_medicine